* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url('https://pizza.od.ua/local/templates/pizzaodua/img/repeat_bg.jpg');
}

.content {
    margin: 0 auto;
    padding: 100px 0;
    width: 1198px;
    height: 100%;
}

.container {
    width: 880px;
    height: 1017px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -5px 5px 20px 0px #000;
}

.desk {
    width: 880px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.pizza img {
    margin: 10px;
    width: 440px;
    height: 440px;
    background-size: cover;
}

.pizza-characters {
    display: inline-block;
    width: 488px;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
    padding-right: 50px;
}

.box,
.box-base,
.box-side {
    margin-top: 20px;
}

.item-btns-wrap {
    padding-top: 20px;
}

.dough-type img {
    width: 70px;
    height: 52px;
    background-size: cover;
}

.pizza-sauce img {
    width: 60px;
    height: 60px;
    background-size: cover;
}

.item-grlabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.label-large {
    background: url('img/pizza-size-large.png') no-repeat 50% 0;
    width: 60px;
    height: 65px;
}

.label-mid {
    background: url('img/pizza-size-mid.png') no-repeat 50% 0;
    width: 52px;
    height: 56px;
}

.label-small {
    background: url('img/pizza-size-small.png') no-repeat 50% 0;
    width: 44px;
    height: 47px;
}

.hide {
    display: none;
}

.label-hotdog {
    background: url('img/hot-dog.png') no-repeat 0 0;
    width: 70px;
    height: 52px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    opacity: .5;
}

.label-italano {
    background: url('img/italiano.png') no-repeat 0 0;
    width: 70px;
    height: 52px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    opacity: .5;
}

.label-americano {
    background: url('img/americana.png') no-repeat 0 0;
    width: 70px;
    height: 52px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    opacity: .5;
}

.item-params-side {
    font-size: 16px;
    line-height: normal;
    color: #5e5e5e;
    width: 150px;
    padding-right: 10px;
}

.box-side {
    float: left;
}

.item-params-value {
    font-weight: bold;
}

.label-souch-type1 {
    background: url('img/garlik.png') no-repeat 50% 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    opacity: .5;
    cursor: pointer;
    background-size: contain;
}

.label-souch-type2 {
    background: url('img/ranch.png') no-repeat 50% 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    opacity: .5;
    cursor: pointer;
    background-size: contain;
}

.label-souch-type3 {
    background: url('img/salsa.png') no-repeat 50% 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    opacity: .5;
    cursor: pointer;
    background-size: contain;
}

.label-souch-type4 {
    display: inline-block;
    width: 60px;
    height: 60px;
    opacity: .5;
    background: url('img/bbq.png') no-repeat 50% 0;
    cursor: pointer;
    background-size: contain;
}

hr {
    border: 1px solid #dedede;
    margin: 15px auto;
    width: 800px;

}

.ingridient {
    display: flex;
    justify-content: space-between;
    width: 880px;
    height: 260px;
}

h2 {
    width: 425px;
    font-size: 17px;
    line-height: normal;
    color: #231f20;
    text-align: left
}

.consistance {
    width: 300px;
}

.border {
    border: 1px solid #dedede;
}

.consistance,
.additional-ingridient {
    padding-left: 35px;
}

.filling-list {
    width: 480px;
}

.item-btns-wrap:after {
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
}

.addit-type3 {
    background: url('img/addit-types.png') no-repeat -100px 0;
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.addit-type2 {
    background: url(img/addit-types.png) no-repeat -50px 0;
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.addit-type6 {
    background: url('img/addit-types.png') no-repeat -248px 0;
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.addit-type5 {
    background: url(img/addit-types.png) no-repeat -198px 0;
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.addit-type8 {
    background: url(img/addit-types.png) no-repeat -346px 0;
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.seafood,
.meat,
.vegetables,
.cheese,
.sauce-ingridient {
    display: flex;
    flex-direction: row;
}

.seafood img,
.meat img,
.vegetables img,
.cheese img,
.sauce-ingridient img {
    max-width: 78px;
    max-height: 52px;
    margin: 0 auto;
}

.js-cnstr-itmname {
    font-size: 14px;
}

.addit-item-weight {
    color: #939393;
    font-size: 14px;
}

.addit-item-price {
    color: #f37125;
    font-size: 14px;
}

.size-img-ingridient {
    text-align: center;
    margin-right: 35px;
}

.meat,
.vegetables,
.cheese,
.sauce-ingridient {
    display: none;
}

.ta_r {
    width: 480px;
    text-align: right;
}

.item-order span {
    font-size: 26px;

}

.composition-dec {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #f32000;
    cursor: pointer;
    /*display: none;*/
}

.composition-dec:before {
    content: '';
    background: #f32000;
    height: 2px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    bottom: 0;
}